
@{
    ViewBag.Title = "CTSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_sanpham.cshtml";
}

<link href="~/Areas/Admin/Content/style/styleChiTietSP.css" rel="stylesheet" />
<!-- Content Header -->
<div class="content-wrapper content" style="margin-top: 70px; margin-bottom: 60px">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row contentHeader">
                <div class="col-sm-4">
                    <img src="~/Areas/Admin/Image/sp2.jpg" />
                </div>
                <div class="col-sm-8 MainSP">
                    <h4>Truyện mẹ kể con nghe</h4>
                    <div class="row contentMain">
                        <div class="col-sm-6">
                            <p>Nhà cung cấp: Bình Tây</p>
                            <p>Xuất xứ: Việt Nam</p>
                            <p>Giá nhập: 50.000 đ</p>
                            <p>Giá bán: 70.000 đ</p>
                            <p>Số lượng: 100 quyển</p>
                        </div>
                        <div class="col-sm-6">
                            <p>Tác giả: Bình Tây</p>
                            <p>Thể loại: B.bag</p>
                            <p>Nhà xuất bản: Việt Nam</p>
                            <p>Người dịch: Phạm Thành</p>
                            <p>Số trang: 200 trang</p>
                        </div>
                    </div>
                    <div class="row btnSP">
                        <a href="@Url.Action("addProduct")" class="btnPro">Sửa</a>
                        <a href="#" class="btnDelete">Xóa</a>
                        <a href="@Url.Action("Index")" class="btnPro">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.content-header -->
