@using BTL_WebBanSach05.Models

@{
    ViewBag.Title = "FilterProduct";
    Layout = "~/Views/Shared/_LayoutFilter.cshtml";
}

<div class="col-lg-9 col-sm-12 ">
    <br>
    <div class="row">
        <div class="col-2 h6">Sắp xếp theo:</div>
        <div class="col-lg-4 col-sm-5">
            <select class="browser-default custom-select">
                <option selected="">Bán chạy tuần</option>
                <option value="1">Bán chạy tháng</option>
                <option value="2">Bán chạy năm</option>
                <option value="3">Mới nhất</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="btn card col-lg-3 col-sm-6 border-white">
            <a href="" class="card-link">
                <img class="card-img-top" src="./image/sp3.jpg" alt="">
                <div class="card-body">
                    <h4 class="text-dark ">Sách ngữ văn 1</h4>
                    <h5 class="text-danger">Giá</h5>
                    <a href="#" class="btn btn-warning text-white">Thêm giỏ hàng</a>
            </a>
        </div>
    </div>
    <div class="btn card col-lg-3 col-sm-6 border-white">
        <a href="" class="card-link">
            <img class="card-img-top" src="./image/sp3.jpg" alt="">
            <div class="card-body">
                <h4 class="text-dark ">Sách ngữ văn 2</h4>
                <h5 class="text-danger">Giá</h5>
                <a href="#" class="btn btn-warning text-white">Thêm giỏ hàng</a>
        </a>
    </div>
</div>
<div class="btn card col-lg-3 col-sm-6 border-white">
    <a href="" class="card-link">
        <img class="card-img-top" src="./image/sp3.jpg" alt="">
        <div class="card-body">
            <h4 class="text-dark ">Sách ngữ văn 3</h4>
            <h5 class="text-danger">Giá</h5>
            <a href="#" class="btn btn-warning text-white">Thêm giỏ hàng</a>
    </a>
</div>
        </div>
<div class="btn card col-lg-3 col-sm-6 border-white">
    <a href="" class="card-link">
        <img class="card-img-top" src="./image/sp3.jpg" alt="">
        <div class="card-body">
            <h4 class="text-dark ">Sách ngữ văn 4</h4>
            <h5 class="text-danger">Giá</h5>
            <a href="#" class="btn btn-warning text-white">Thêm giỏ hàng</a>
    </a>
</div>
    </div>